.checkout-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-top: 30px;
}

.checkout-left {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.checkout-section-title {
  color: #005f02;
  margin-bottom: 15px;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.address-card {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  background: #fff;
  white-space: nowrap;
}

.address-card:hover {
  background: #f2e3bb;
}

input[type="radio"] {
  margin: 0;
  margin-right: 4px;
}

.new-address-box {
  margin-top: 15px;
  margin-bottom: 35px;
}

.checkout-textarea {
  width: 100%;
  height: 90px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}

.add-address-btn {
  margin-top: 1px;
}

.payment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.payment-card {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  background: #fff;
  white-space: nowrap;
}

.payment-card:hover {
  background: #f2e3bb;
}

.checkout-right {
  background: #f2e3bb;
  padding: 25px;
  border-radius: 10px;
  height: fit-content;
  max-width: 320px;
}

.checkout-right h2 {
  margin-bottom: 20px;
  color: #005f02;
}

.checkout-summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.checkout-summary-row.total {
  font-weight: bold;
  font-size: 18px;
  color: #005f02;
}

.place-order-btn {
  width: 100%;
  margin-top: 15px;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .checkout-container {
    grid-template-columns: 1fr;
  }

  .checkout-right {
    max-width: 100%;
  }
}
