
.order-confirmation-box{
max-width:650px;
margin:auto;
background:#ffffff;
padding:35px;
border-radius:10px;
text-align:center;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.success-title{
color:#005F02;
margin-bottom:10px;
}

.success-message{
margin-bottom:25px;
color:#444;
}

.order-details{
text-align:left;
margin-bottom:25px;
line-height:1.7;
}

.summary-title{
margin-bottom:15px;
color:#005F02;
}

.order-summary-list{
text-align:left;
margin-bottom:25px;
}

.summary-item{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

.summary-item.total{
font-weight:bold;
font-size:17px;
color:#005F02;
}

.confirmation-buttons{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
align-content: center;
align-items: flex-end;
}

.secondary-btn{
background:#427A43;
color:white;
border:none;
padding:10px 16px;
border-radius:6px;
cursor:pointer;
}

.secondary-btn:hover{
background:#005F02;
}


